#Header
  width: 100%
  height: 115px
  font-family: $headline-font
  background: $primary-color
  background: -webkit-linear-gradient(to left, $primary-color, $primary-color-dark)
  background: linear-gradient(to left, $primary-color, $primary-color-dark)
  display: block
  color: $primary-color-text
.header-elements
  display: flex
  height: 75px
  width: 100%
  justify-content: space-between
  align-items: center
  border-top: 2px solid $accent-color
  padding: 0 1em
  .logo
    font-size: 2em
    font-weight: 700
    color: $accent-color
    span
      color: $primary-color-text
.side-elements
  display: flex
  justify-content: space-between
  .user-functions
    .function
      cursor: pointer
      margin-right: 10px
    .add-post
      width: 22px
      height: 22px
      margin-right: 10px
      color: $primary-color-text
  .user-info
    margin-right: 1em
  .user-avatar
    border-radius: 100%
    margin: 0 5px 0 4px
  .user-name
    font-size: 1.2em
    color: $primary-color-text
    margin-left: 3px

#navigation-bar
  width: 100%
  display: block
  background: $primary-color-text
  height: 40px
  box-shadow: 0px 1px 1px #ccc
  color: $secondary-text-color
  font-size: 1.1em
  .element
    padding: 0.3em 2em
    cursor: pointer
  .container
    width: 40%
    height: 100%
.dropdown-btn
  cursor: pointer
#user_settings
  width: 200px
  background: white
  position: absolute
  left: 20px
  top: 60px
  box-shadow: 0px 2px 3px #ccc
  border-radius: 3px
  display: flex
  flex-direction: column
  a
    height: 50px
    padding: 10px 20px
    border-bottom: 1px solid $divider-color
.collapsed
  display: none
  visibility: hidden
.search-bar
  width: 700px
  height: 30px
  background: white
  border-radius: 5px
