<div class="sidebar flex-column">
  <div class="block">
    <%= link_to new_post_path,class: "btn btn-block" do %>
        <svg class="icon-add sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-add"></use></svg>
        <span>إضافة نقاش</span>
    <% end %>
  </div>
</div>
